{% extends "base.html" %}
{% block content %}
<h2>Mapa: {{ mapa.nome }}</h2>

<h2>Death Tokens dos Heróis</h2>
<form method="post" action="/admin/map/{{ mapa.id }}/update_tokens">
  {% for g in mapa.campaign.guilds %}
    <h4>{{ g.nome }}</h4>
    <ul>
      {% for h in g.heroes %}
        {% set hs = h.maps|selectattr("map_id", "equalto", mapa.id)|first %}
        <li>
         <h4>{{ h.nome }}:</h4>
          <input type="number" name="hero_{{ h.id }}" value="{{ hs.death_tokens if hs else 0 }}" min="0">
          {% if hs and hs.curse_nome %}
           <h4>→ Curse: <strong>{{ hs.curse_nome }}</strong> ({{ hs.curse_efeito }})<h4/>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
  <button type="submit">Salvar Tokens</button>
</form>

<form method="post" action="/admin/map/{{ mapa.id }}/apply_curses">
  <button type="submit">Aplicar Death Curses</button>
</form>
{% endblock %}
