{% extends "base.html" %}
{% block content %}
<h2>Campanha: {{ campaign.nome }}</h2>

<a href="/player/campaign/{{ campaign.id }}/timeline">
  <button>Ver Linha do Tempo</button>
</a>

<hr>

<h2>Mapas</h2>
{% for m in campaign.maps %}
<div class="card">
    <strong>{{ m.nome }}</strong>
    <br>
    <a href="/player/map/{{ m.id }}">
        <button>Ver Death Tokens & Curses</button>
    </a>
</div>
{% else %}
<p>Nenhum mapa cadastrado.</p>
{% endfor %}

<hr>

<h2>Guildas</h2>
{% for g in campaign.guilds %}
  <div class="card">
    <h3>{{ g.nome }}</h3>
    <ul>
        {% for h in g.heroes %}
            <li><strong>{{ h.nome }}</strong></li>
        {% else %}
            <li>Nenhum herói adicionado.</li>
        {% endfor %}
    </ul>
  </div>
{% else %}
<p>Nenhuma guilda cadastrada.</p>
{% endfor %}
{% endblock %}
